$brand-primary: $color700;
//$brand-success: #5cb85c;
$brand-info: $color200;
//$brand-warning: #f0ad4e;
$brand-danger:  #FD2B48;

$font-family-sans-serif: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
$enable-flex: true;
$enable-rounded: true;
$enable-gradients: true;

$jumbotron-bg: $color50;

$navbar-dark-color: $color50;
$navbar-dark-hover-color: #fff;
$navbar-dark-active-color: #fff;
$navbar-dark-disabled-color: $color100;
