$color50: #E3F2FD;
$color100: #BBDEFB;
$color200: #90CAF9;
$color300: #64B5F6;
$color400: #42A5F5;
$color500: #2196F3;
$color600: #1E88E5;
$color700: #1976D2;
$color800: #1565C0;
$color900: #0D47A1;
@import "style";
