$color50: #EFEBE9;
$color100: #D7CCC8;
$color200: #BCAAA4;
$color300: #A1887F;
$color400: #8D6E63;
$color500: #795548;
$color600: #6D4C41;
$color700: #5D4037;
$color800: #4E342E;
$color900: #3E2723;
@import "style";
