$color50: #FBE9E7;
$color100: #FFCCBC;
$color200: #FFAB91;
$color300: #FF8A65;
$color400: #FF7043;
$color500: #FF5722;
$color600: #F4511E;
$color700: #E64A19;
$color800: #D84315;
$color900: #BF360C;
@import "style";
