$color50: #ECEFF1;
$color100: #CFD8DC;
$color200: #B0BEC5;
$color300: #90A4AE;
$color400: #78909C;
$color500: #607D8B;
$color600: #546E7A;
$color700: #455A64;
$color800: #37474F;
$color900: #263238;
@import "style";
