$color50: #E8EAF6;
$color100: #C5CAE9;
$color200: #9FA8DA;
$color300: #7986CB;
$color400: #5C6BC0;
$color500: #3F51B5;
$color600: #3949AB;
$color700: #303F9F;
$color800: #283593;
$color900: #1A237E;
@import "style";
