$color50: #E1F5FE;
$color100: #B3E5FC;
$color200: #81D4FA;
$color300: #4FC3F7;
$color400: #29B6F6;
$color500: #03A9F4;
$color600: #039BE5;
$color700: #0288D1;
$color800: #0277BD;
$color900: #01579B;
@import "style";
