$color50: #FFF3E0;
$color100: #FFE0B2;
$color200: #FFCC80;
$color300: #FFB74D;
$color400: #FFA726;
$color500: #FF9800;
$color600: #FB8C00;
$color700: #F57C00;
$color800: #EF6C00;
$color900: #E65100;
@import "style";
