$color50: #FCE4EC;
$color100: #F8BBD0;
$color200: #F48FB1;
$color300: #F06292;
$color400: #EC407A;
$color500: #E91E63;
$color600: #D81B60;
$color700: #C2185B;
$color800: #AD1457;
$color900: #880E4F;
@import "style";
