$color50: #FFFDE7;
$color100: #FFF9C4;
$color200: #FFF59D;
$color300: #FFF176;
$color400: #FFEE58;
$color500: #FFEB3B;
$color600: #FDD835;
$color700: #FBC02D;
$color800: #F9A825;
$color900: #F57F17;
@import "style";
